@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Solitreo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Aboreto', cursive;
    font-family: 'Solitreo', cursive;
}

header {
    width: 100%;
  
    display: flex;
    align-items: center;
    height: 80px;
}

.nav {
    width: 100%;
    
}

ul li {
    list-style: none;
    font-size: 22px;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

.list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: 1s;

}

.burger {
    display: none;
}

input {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    transition: 1s;
}

input:focus {
    box-shadow: 10px 10px 10px blue;
}


@media(max-width: 920px){
.burger {
    display: block;
}
.nav {
    width: 80%;
}
.list {
    display: block;
    padding-left: 25px;
    margin-top:120px;
    margin-left: -400px;
}

.newList {
    margin-left: 10px;
}
}